DATABASE_URL="postgresql://USUARIO:SENHA@localhost:5432/fornecedoresApp?schema=public"
PORT=3333
NODE_ENV=development
JWT_ACCESS_SECRET="troque-por-um-segredo-longo-e-aleatorio"
FRONTEND_ORIGIN="http://localhost:3000"
